{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">404<br>Page not found</h2>
                <p>Sorry, we couldn't find the page you were looking for.</p>
                <div class="header-button">
                  <a href="{% url 'core:index' %}" class="btn btn-common">Go back to the main page</i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
</header>
{% include 'footer.html'%}
{% endblock %}